@media screen and (max-width: 767px) {


    body,html{
    
        height: 100%;
        
        }
        
        body{
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        
        
        section{
            margin-top: 100px;
        }
        
        .MainAbout{
        
            margin-top: 50px;
            width: 100%;
            margin: 0 auto;
        }
        
        .HistoryLink{
            margin-left: 6px;
        }
        
        .HistoryLink a{
            margin-right: 15px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 18px;
            
            color: #A09E9E;
            text-decoration: none;
        
        }
        
        .HistoryLink img{
            margin-right: 23px;
        }
        
        .HistoryLink{
        }
        

        .SliderList{
            margin-left: 17px;
        }

        
        .SliderListItem{
            background-color: #A09E9E;
            width: 69px;
            height: 71px;
            margin-bottom: 28px;
        }
        
        
        .Product{
            margin-top: 20px;
        }
        
        
        .MainImgWrapper{
            margin-top: -396px;
            margin-left: 103px;
            width: 291px;
            height: 369px;
            background-color: #A09E9E;
        }
        
        
        
        
        
        
        .ProductInformation{
            margin-top: 30px;
            margin-left: 19px;

        }
        
        .ProductHeading{
        
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 29px;
            color: #000000;
        
        }
        
        
        .ProductCategory{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 29px;
        
            color: #979797;
        }
        
        
        .ProductCategoryLink{
            text-decoration: none;
        }
        
        .ProductPrice{
          
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 44px;
        
            color: #000000;
        }
        
        
        .ColorListHeading{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
        
            color: #979797;
        
        }
        
        .ColorProduct{
            margin-right: 10px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        }
        
        .ColorList{
            margin-left: 10px;
        }

        .HarProoduct{
            display: flex;
        }
        
        
        .SizeListHeading{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 29px;
            color: #979797;
        }
        
        .SizeItem{
            margin-left: 10px;
            cursor: pointer;
            width: 36px;
            height: 34px;
            background: #FFFFFF;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            justify-content: center;
        
        }
        
        .Border{
            border-bottom: 2px solid blue;
        }
        
        
        
        
        .SizeText{
            margin-top: 8px;
        }
        
        .SizeList{
            display: flex;
            
        }
        
        
        .AddCartBtn{
            margin-top: 77px;
            background-color: #EBFF03;
            width: 355px;
            height: 63px;
            border: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            transition: 0.5s;

            
        }
        
        
        
        .AddCartBtn:hover {
            background-color: #8F00FF;
            color: white;
        }
        
        
        
        
        
        
        
        .productDescriptionHeader{
            margin-left: 20px;
            margin-top: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            color: #000000;
        }
        
        .Descripton{
            max-width: 100%;
            width: 90%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            min-height: 223px;
        }
        
        
        .ProductDescription{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            line-height: 39px;
        }
        
        .SpecificationsHeader{
            font-weight: 700;
            font-size: 32;
        }
        
        
        
        .Specifications{
            margin-left: 30px;
        }
        
        .SpecificationsItem{
            display: flex;
            
        }
        
        
        .NameSpecifications{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
           color: #58D0D8;
        
        }
        
        .line{
            width: 120px;
            height: 1px;
            background-color: #E4E4E4;
            margin-top: 10px;
            margin-left: 11px;
            margin-right: 11px;
        }
        
        
        .ValueSpecifications{
            margin-top: 3px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #9B9B9B;
        
        }
        
        
        .SpecificationList{
        
            margin-top: 20px;
        
        }
        
        
        .StructureHeader{
                
        
            
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        
        color: #AFAFAF;
        
        
        
        }
        
        
        .SliderImg{

        }
        
        .SliderListItem{
            cursor: pointer;
        }
        
        .Line{
            height: 3px;
            background-color: #0019FF;
        }
        
        .MainImg{

        }

        .Anottation{
            margin-left: 0px;
        }

        .AnottationText{
            font-size: 12px;
            width: 100px;
            height: 40px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: 0.1s;
        }


        .AnottationTextActive{
            font-size: 13px;
            width: 150px;
            height: 40px;
            position: absolute;
            opacity: 1;
            visibility: visible;
            transition: 0.1s;
        }



       


}