body,html{
    
height: 100%;

}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Main{
    flex-grow: 1;
    
}


.HistoryLink a{
    margin-right: 27px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    
    color: #A09E9E;
    text-decoration: none;

}

.HistoryLink img{
    margin-right: 23px;
}

.HistoryLink{
    margin-top: 13px;
}


.SliderListItem{
    background-color: #A09E9E;
    width: 100px;
    height: 126px;
    margin-bottom: 28px;
}


.Product{
    display: flex;
    margin-top: 40px;
}


.MainImg{
    margin-left: 80px;
    width: 499px;
    height: 588px;
    background-color: #A09E9E;
}





.ProductInformation{
    margin-left: 80px;
}

.ProductHeading{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}


.ProductCategory{
    margin-top: 19px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;

    color: #979797;
}


.ProductCategoryLink{
    text-decoration: none;
}

.ProductPrice{
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}


.ColorListHeading{
    margin-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #979797;

}

.ColorProduct{
    margin-right: 10px;
    border-radius: 50%;
    background-color: red;
    width: 30px;
    height: 30px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.ColorList{
    display: flex;

}


.SizeListHeading{
    margin-top: 42px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: #979797;
}

.SizeItem{
    width: 36px;
    height: 34px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    margin-right: 11px;
   

}


.SizeText{
    margin-top: 8px;
}

.SizeList{
    display: flex;
    
}


.AddCartBtn{
    background-color: #EBFF03;
    margin-top: 80px;
    width: 200px;
    height: 52px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    
}


.productDescriptionHeader{
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    
    color: #000000;
    
}

.Descripton{
    margin-top: 30px;
    width: 700px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
    color: #000000;
    min-height: 550px;   
}


.ProductDescription{
    display: flex;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 39px;


}

.SpecificationsHeader{
    font-weight: 700;
    font-size: 32;
}



.Specifications{
    margin-left: 57px;
}

.SpecificationsItem{
    display: flex;
    
}


.NameSpecifications{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
   color: #58D0D8;

}

.line{
    width: 120px;
    height: 1px;
    background-color: #E4E4E4;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
}


.ValueSpecifications{
    margin-top: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #9B9B9B;

}


.SpecificationList{

    margin-top: 20px;

}


.StructureHeader{
        

    
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;

color: #AFAFAF;



}