env/pyvenv.cfg
env
MarketSport/apps/cart/__pycache__
MarketSport/apps/core/__pycache__
MarketSport/apps/store/__pycache__
MarketSport/apps/order/__pycache__
MarketSport/MarketSport/__pycache__
MarketSport/apps/cart/migrations/__pycache__
MarketSport/apps/core/migrations/__pycache__
MarketSport/apps/store/migrations/__pycache__
MarketSport/apps/order/migrations/__pycache__
MarketSport/apps/registrations/migrations/__pycache__
MarketSport/db.sqlite3
MarketSport/apps/registrations/__pycache__/__init__.cpython-38.pyc
MarketSport/apps/registrations/__pycache__/admin.cpython-38.pyc
MarketSport/apps/registrations/__pycache__/apps.cpython-38.pyc
MarketSport/apps/registrations/__pycache__/forms.cpython-38.pyc
MarketSport/apps/registrations/__pycache__/models.cpython-38.pyc
MarketSport/apps/registrations/__pycache__/urls.cpython-38.pyc
MarketSport/apps/registrations/__pycache__/views.cpython-38.pyc
MarketSport/MarketSport/__pycache__/settings.cpython-38.pyc
