{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/reg/form.css' %}">
{% endblock %}

{% block content %}

<main>


    <div class="reg">

        
    <form class="MainForm" method="post" id="add-form">
        {% csrf_token %}
        <div class="RegHeaderContainer">

            <p class="RegHeader">Регистрация</p>

        </div>


        
        
        {% for field in form %}
        <p> {{ field.label_tag }} </p>
        {{ field }}
        {% endfor %}

        {% if messages %}
        {% for message in messages %}
        <p style="color: brown;">{{ message }}</p>
        {% endfor %}
        {% endif %}
        
        <div class="btnContainer">
            <button class="RegBtn" type="submit">Регистрация</button>
        </div>
        <div class="UserCondition">

            <a class="UserConditionLink" href="{% url 'signin' %}">Уже зарегестрированны?</a>

        </div>

    </form>

    </div>


</main>



{% endblock %}

{% block scripts %}
<script src="{% static 'js/navbar/header.js' %}"></script>



{% endblock %}.