{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head> 
<body>
{% block content %}
    <div class="slider">
        
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src= "{% static 'imgs/slider/slide1.jpg' %}"  class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'imgs/slider/slide2.jpg' %}"  class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'imgs/slider/slide3.jpg' %}" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        

    </div>


    <div class="Main">
            
        <div class="WhoWe">
         

            <div class="DescriptionBlock">
                
                <div class="WhoWeText">

                        <h2 class="WhoWeHeading">

                            Кто мы такие?

                        </h2>


                        <h3 class="WhoWeMainText">
                        
                            <p> 
                                Магазин Альпака - это специализированный спортивный магазин, 
                                который предлагает широкий ассортимент товаров для активного отдыха и занятий спортом.
    
                                У нас вы найдете все необходимое для занятий горным туризмом, альпинизмом, скалолазанием, 
                                пеших прогулок и бега!
                            </p>
                            
                            
                          

                        </h3>

                </div>


                <div class="WhoWeImg">

                    <img src="{% static 'imgs/whoWe/man.png' %}" alt="" class="DescriptionPhoto">

                  </div>

            </div>

        </div>



        <div class="CatalogMain">
 
            <div class="catalog">

                <div class="CatalogHeading">

                     
                     {% if error %}
                     <h3> Нам не удалось найти ваш товар </h3>
                     {% else %}
                     <h3>Наши товары</h3>
                     {% endif %}
                     
                </div>
            

                <div class="CardGrid">

                {% for product in products %}
                    <a href="{% url 'productDetail' product.category.slug product.slug %}">
                  <div class="CardArea">
                

                    

                    <div class="MainCardItem">

                        <a href="#">
                            <img src="{{ product.image.url }}" alt="Здесь был товар" class="CardImg">
                        </a>

                        
                    </div>

                    <div class="discharge1">

                        <p>Новинка</p>

                    </div>

                    <div class="ColorValue">

                        <p class="ColorValueText">2 цвета</p>

                    </div>
                    

                    <div class="TextCard">

                        <p class="NameCard">{{ product.title }}</p>

                        <p class="PriceCard">₽ {{ product.price }}</p>

                        <p class="NewPriceCard hidden">₽ 2400.00</p>

                    </div>
                </a>
                  </div>
                
                  {% endfor %}
                  

                  </div>
                </div>
            </div>
        </div>  
    </div>
    
{% endblock %}
   




    {% block scripts %}
    <script src="{% static 'js/navbar/header.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>