{% extends 'base.html' %}

{% block content %}
<div class="columns is-multiline card-container" id="products">
{% for product in products %}
<div class="column is-4">
    <div class="card">
        <div class="card-content">
            <div class="media-content">
                <img src="{{ product.image.url }}">
                <p>
                    {{ product.title }}
                </p>
                <p>
                    {{ product.price }}
                </p>
                {% if product.newOrOldProduct %}
                    <p>
                        Новый
                    </p>
                    <button style=" margin-left:200px; color:blue" v-on:click="AddToCart({{ product.id }})">
                        Добавить к корзину
                    </button>
                
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    var app = new Vue({
        el: '#products',
        data() {
            return {

            }
        },

        mounted() {
            console.log('Mounted')
        },
    
        methods: {
            AddToCart(id){
                var data = {'id':id, 'update':false, 'quantity':1}
                
                fetch('/api/add/',{
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(data)
                })
                .then((responce)=> {
                    console.log(responce)
                })
                .catch(function error(){
                    console.log('Error 2')
                })
            }
        }
    
    })
</script>
{% endblock %}
