{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/moreAboutProduct/style.css' %}"> 

<!-- Если есть необходимость подключить другие стили подключай тут, а так файлик css в котором можно писать лежит выше-->

{% endblock %}


{% block content %}
<!-- Тут пиши код связанный с отображение товаров, то есть сам html-->

<div class="Main">

    <div class="HistoryLink">

        <a href="{% url 'mainpage' %}" class="CategoryLink">Главная</a>

        <img src="{% static 'imgs/moreAboutProduct/arrow.png' %}" alt="" class="IconHistory">

        <a href="{% url 'category' product.category.slug %}" class="CategoryLink">{{ product.category.title }}</a>

        <img src="{% static 'imgs/moreAboutProduct/arrow.png' %}" alt="" class="IconHistory">

        <a href="{% url 'productDetail' product.category.slug product.slug %}" class="CategoryLink">{{ product.title }}</a>

    </div>



    <div class="Product">


        <div class="SliderList">


            <div class="SliderListItem">

            </div>

            <div class="SliderListItem">

            </div>

            <div class="SliderListItem">

            </div>

            <div class="SliderListItem">

            </div>

        </div>


        <div class="MainImg">



        </div>
    



        <div class="ProductInformation">
            <h1 class="ProductHeading">{{ product.title }}</h1>
            <a class="ProductCategoryLink" href="#"><h2 class="ProductCategory">{{ product.category.title }}</h2></a>
            <p class="ProductPrice">₽ {{ product.price }}</p>

            <p class="ColorListHeading">Цвет</p>

            <div class="ColorList">

                <a href="#"><div class="ColorProduct" style="background-color: {{ product.color }};"></div></a>

            </div>


            <p class="SizeListHeading">Размер</p>

            <div class="SizeList">

                <div class="SizeItem">
                    <div class="SizeText">{{ product.size }}</div>
                </div>

            </div>



            <button class="AddCartBtn">Добавить в корзину</button>

        </div>


   
    
    </div>

    <div class="ProductDescription">

        <div class="ProductDescriptionMain">

            <div class="productDescriptionHeader">
                Описание
            </div>

            <div class="Descripton">

                <p>{{ product.description }}</p>

                
            </div>


        </div>
       


        <div class="Specifications">
            <h2 class="SpecificationsHeader">Характеристики</h2>
          

            <div class="SpecificationList">

                                  
                        <div class="SpecificationsItem">
                                <p class="NameSpecifications">Материал изделия</p>
                                <div class="line"></div>

                                <p class="ValueSpecifications">
                                    Резина
                                </p>
                            
                
                        </div>
                    
                                  
                        <div class="SpecificationsItem">
                                <p class="NameSpecifications">Вид спорта</p>
                                <div class="line"></div>

                                <p class="ValueSpecifications">
                                    {{ product.sports_type }}
                                </p>
                            
                
                        </div>
                    
                                  
                        <div class="SpecificationsItem">
                                <p class="NameSpecifications">Сезон</p>
                                <div class="line"></div>

                                <p class="ValueSpecifications">
                                    {{ product.season }}
                                </p>
                            
                
                        </div>
                    
                                  
                        <div class="SpecificationsItem">
                                <p class="NameSpecifications">Пол</p>
                                <div class="line"></div>

                                <p class="ValueSpecifications">
                                    {{ product.gender }}
                                </p>
                            
                
                        </div>
                    
                                  
                        <div class="SpecificationsItem">
                                <p class="NameSpecifications">Бренд одежды</p>
                                <div class="line"></div>

                                <p class="ValueSpecifications">
                                    {{ product.brand }}
                                </p>
                            
                
                        </div>
                    



            </div>
    
            <div class="structure">

                <p class="StructureHeader">

                    {{ product.material }}

                </p>


            </div>


    </div>





      
  </div>

</div>  




{% endblock %}


{% block scripts %}
    <script src="{% static 'js/navbar/header.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUV    F0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


{% endblock %}