{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/moreAboutProduct/style.css' %}"> 

<!-- Если есть необходимость подключить другие стили подключай тут, а так файлик css в котором можно писать лежит выше-->

{% endblock %}


{% block content %}
<!-- Тут пиши код связанный с отображение товаров, то есть сам html-->
<h1 class="test">Пивет</h1>

{% endblock %}


{% block scripts %}
<!-- тут подключай написанные тобой скрипты -->


{% endblock %}