{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/moreAboutProduct/style.css' %}"> 

<!-- Если есть необходимость подключить другие стили подключай тут, а так файлик css в котором можно писать лежит выше-->

{% endblock %}


{% block content %}
<!-- Тут пиши код связанный с отображение товаров, то есть сам html-->

  <div class="Main">

    <div class="HistoryLink">

        <a href="#" class="CategoryLink">Главная </a>

        <img src="{% static 'imgs/moreAboutProduct/arrow.png' %}" alt="" class="IconHistory">

        <a href="#" class="CategoryLink">Категория</a>

        <img src="{% static 'imgs/moreAboutProduct/arrow.png' %}" alt="" class="IconHistory">

        <a href="#" class="CategoryLink">Товар</a>

    </div>



    <div class="Product">


        <div class="SliderList">


            <div class="SliderListItem">

            </div>

            <div class="SliderListItem">

            </div>

            <div class="SliderListItem">

            </div>

            <div class="SliderListItem">

            </div>

        </div>


        <div class="MainImg">



        </div>
    



        <div class="ProductInformation">
            <h1 class="ProductHeading">Reebok Energylux 2.0</h1>
            <a class="ProductCategoryLink" href="#"><h2 class="ProductCategory">Кроссовки</h2></a>
            <p class="ProductPrice">₽ 5400</p>

            <p class="ColorListHeading">Цвет</p>

            <div class="ColorList">

                <a href="#"><div class="ColorProduct"></div></a>
                <a href="#"><div class="ColorProduct"></div></a>
                <a href="#"><div class="ColorProduct"></div></a>

            </div>


            <p class="SizeListHeading">Размер</p>
            <div class="SizeList">

            </div>


        </div>


    
    </div>



    sdsdf   
  </div>

{% endblock %}


{% block scripts %}
<!-- тут подключай написанные тобой скрипты -->


{% endblock %}