<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" src="MarketSport/static/css/order/order.css">
    <title>Document</title>
</head>
<body>


        <header>
            <div class="LogoWrapper">
                <img src="img/logo.png" alt="">
            </div>
        </header>
        <div class="MainWrapper">
        
            <div class="MainChek">
                
                <div class="Chek">
                    <div class="HeaderParrent">
                        <p>Ваша заявка успешно одобрена</p>
                        <hr>
                    </div>

                    <div class="ProductList">

                        <div class ="PlroductListItem">
                            <div class="ProductName">вапв ав авп ыаыв</div>
                            <div class="LineDivision"><hr></div>
                            <div class="ProductPrice">1000₽</div>
                        </div>
                        <div class ="PlroductListItem">
                            <div class="ProductName">вапв ав авп ыаыв</div>
                            <div class="LineDivision"><hr></div>
                            <div class="ProductPrice">1000₽</div>
                        </div>
                        <div class ="PlroductListItem">
                            <div class="ProductName">вапв ав авп ыаыв</div>
                            <div class="LineDivision"><hr></div>
                            <div class="ProductPrice">1000₽</div>
                        </div>
                        <div class ="PlroductListItem">
                            <div class="ProductName">вапв ав авп ыаыв</div>
                            <div class="LineDivision"><hr></div>
                            <div class="ProductPrice">1000₽</div>
                        </div>
                        <div class ="PlroductListItem">
                            <div class="ProductName">вапв ав авп ыаыв</div>
                            <div class="LineDivision"><hr></div>
                            <div class="ProductPrice">1000₽</div>
                        </div>
                        <div class ="PlroductListItem">
                            <div class="ProductName">вапв ав авп ыаыв</div>
                            <div class="LineDivision"><hr></div>
                            <div class="ProductPrice">1000₽</div>
                        </div>
                        <div class ="PlroductListItem">
                            <div class="ProductName">вапв ав авп ыаыв</div>
                            <div class="LineDivision"><hr></div>
                            <div class="ProductPrice">1000₽</div>
                        </div>

                        <div class="resul">
                            <p>Итого: {{ cart.totalCost }}₽</p>
                        </div>


                        <div class="Return">
                            <a href="">Вернутся на сайт</a>
                        </div>

                    </div>


                </div>

            </div>
        
        </div>
                
   

     <footer>
            
     </footer>

</body>



<style>



</style>

</html>