





@media screen and (max-width: 767px) {
        
    

    header{
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 40px;
        background-color: #D2E740;
        transition:0.3s;
        top: 0;
        left: 0;
    }
    
    /* Добавляем overflow-y: auto для body, чтобы можно было прокручивать содержимое страницы */
    body {
        overflow-y: auto;
    }
    
    .slider{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
    .logo{
        display: flex;
        justify-content: center;
    }
    
    .MenuList{
        margin-top:-10px;
        margin-left: 60px;
        list-style-type: none;
        display: flex;
    }
    
    .MenuItem{
        margin-right: 115px;
    }
    
    .menu{
        display: none;
        justify-content: center;
        width: 1180px;
        margin: auto;
    }
    
    .MenuItem{
        background-color: none;
    }
    
    .MenuItem a{
        color: black;
        text-decoration: none;
    }
    
    .MenuUserList{
        margin-top: -15px;
        display: flex;
        list-style-type: none;
    }
    
    .MenuUserItem{
        z-index: 4;
        margin-top: 4px;
        margin-right: 33px;
        cursor: pointer;   
    }
    
    .SearchInput {
        text-align: center;
        margin-top: 4px;
        width: 150px;
        border: none;
        border-radius: 50px;
        opacity: 0;
        transition-duration: 0.5;
        position: absolute;
        margin-left: -171px;
        z-index: 0;
        border: 1px solid #B8B8B8;
        cursor: default;
        pointer-events: none;   
    }
    
    .SearchInput--active {
        pointer-events: auto;
        opacity: 1;
        transition: 0.5s;
        cursor: text;   
    }
    
    .search{
       margin-left: -3px;
    }
    
    .DropMenu{
        background-color: red;
    }
    
    .btn{
        margin-top: -14px;
        margin-bottom: -10px;
    }
    
    input {outline:none;}
    
    .ProfileMenu{
        opacity: 0;
        transition: 0.3s;
        min-height: 108px;
        z-index: 1;
        background-color: white;
        border-radius: 4px;
        width: 251px;
        position: absolute;
        color: black;
    }
    
    .ProfileMenuHidden{
        opacity: 1;
    }
    
    .ProfileMenu p{
        margin-left: 7px;
        margin-top: 7px;
        margin-bottom: 1px;
        transition: 0.3s;
    }
    
    .ProfileMenu p:hover{
        transition: 0.3s;
        margin-bottom: 1px;
        color: blue;
    }
    
    .UserImg{
        z-index: 20 ;
    }
    
    .exit{
        display: flex;
        font-weight: 600;
    }
    
    .exitImg{
        margin-left: 10px;
        margin-top: 5px;
        width: 15px;
        height: 15px;
    }
    
    .UserImgBlock{
        border-radius: 50%;
        background-color: #CBCBCB;
        width: 80px;
        height: 80px;
    }
    
    .UserImgBlock{
        display: flex;
    }
    
    .UserImgContainer{
        margin-left: 10px;
        margin-top: 15px;
        display: flex;
    }

    


        .BurgerWrapper{
            
            background-color: #fff;
            overflow: hidden;
            transition: 0.3s;
            width: 0px;
            height: 364px;
        }
        
        .BurgerWrapperActiv{
            margin-top: -34px;
            background-color: #fff;
            overflow: hidden;
            visibility: visible;
            transition: 0.1s;
            width: 100vh;
            height: 129vh;
        
        }
        
        
        .Category{
            background-color: #fff;
        }
        
        .CategoryList{
            overflow: hidden;
            transition: 0.5s;
            width: 100px;
            height:0px;
            visibility: hidden;
            margin-left: 60px;
            margin-left: 30px;
        
        }

        .CategoryListActive{
            overflow: hidden;
            transition: 0.5s;
            width: 278px;
            height: 83px;
            margin-left: 0px;
            color: #B8B8B8;
            text-decoration: none;
        
        }

        .CategoryTextItemActive a{
            color: #707070;
            text-decoration: none;
        }

        .CategoryTextItem a{
                text-decoration: none;
                color: #707070;
        }
   
        

        .HamburgerImg{
            margin-top: -80px;
            width: 21px;
            height: 20px;
            margin-left: 10px;

        }

        .BurgerItem{
            opacity: 0;
            transition: 0.2s;
            margin-top: 10px;
        }
        .BurgerItemActive{
            margin-left: 60px;
            opacity: 1;
            transition: 0.2s;
            margin-top: 23px;
            font-size: 22px;
            font-weight: 500;
        }


        .BurgerItem a{
            color: black;
            text-decoration: none;
        }

        .SearchMobile{
            border: 1px solid #B8B8B8;
            border-color: #B8B8B8;
            text-align: center;
            border-radius: 45px;
        }
        .search{
           
        }

        .exit_login{
            font-weight: 700;
        }


        .name a{
            color: blue;
        }


        .CategoryTextItem{
            margin-left: 30px;
            visibility: hidden;
        }

        .CategoryTextItemActiv{
            margin-left: 30px;
            visibility: visible;
        }


        .BtnSearch{
                margin-left: -40px;
                border: 1px solid #B8B8B8;
                background-color: #fff;
                border-radius: 22px;
                width: 40px;
                height: 38px;
            
        }

     

}